{% extends '_layouts/base.html' %}

{% block content %}

<div class="container">
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    <form action="{% url 'quotes:add_author' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            {{ form.fullname }}
            <span>{{form.errors.fullname}}</span>
        </div>
        <div class="mb-3">
            <label for="born_date" class="form-label">Birthday</label>
            {{ form.born_date}}
            <span>{{form.errors.born_date}}</span>
        </div>

        <div class="mb-3">
            <label for="born_location" class="form-label">Place of birth</label>
            {{ form.born_location}}
            <span>{{form.errors.born_location}}</span>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            {{ form.description}}
            <span>{{form.errors.description}}</span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </form>
</div>

{% endblock content %}